.App {
  text-align: center;
}

.AppHeader {
  background-image: url('../../assets/netflix-header.jpg');
  background-size: cover;
  border-radius: 0;
  margin-bottom: 0;
  color: #fff;
  position: relative;
  width: 100%;
  height: 65vh;
  }

.AppHeader::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    background: linear-gradient(0deg, #232323, #232323);
}

.App-footer {
background: lightgrey;
padding: 1rem;
color: #EF5350;
}

